/* CSS FOR BASIC PAGES */
/* IN THE FORMAT OF HOME/404 PAGES */

body {
	background-image: url('../images/wormhole_bg.jpg');
	background-repeat: no-repeat;
	background-position: center center
}

h1 {
	color: white;
	font-family: Lora;
}

.title {
	font-family: Lora, cursive
}

.subtitle {
	font-size: 1.2em;
	margin: .5em 0 .5em;
}

li {
	text-align: left;
}